*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.forgot_password_container{
    height: 100vh;
    padding:  2rem;
    background: #e5eef7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper_forgot_password{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    gap: 15rem;
    height: 100%;
    /* margin-inline: 10rem; */
    background: white;
    border-radius: 50px;
}
.circle_img{
    height: 600px;
    width: 600px;
    border-radius: 50%;
    background: rgba(135, 207, 235, 0.212);
}

.forgot_password_header{
    line-height: 80px;
    margin-right: 1rem;
}

.forgot_password_header h2{
    font-size: 4.5em;
    /* margin-bottom: 90px; */
}

.forgot_password_header p{
    font-size: 20px;
    font-weight: 500;
}

.forgot_form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.forgot_form input{
    border: none;
    border-bottom: 1px solid black;
    padding: .5rem;
}

.forgot_form button{
    height: 40px;
    border-radius: 50px;
    background: #e5eef7;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
}

.verification_container{
    display: flex;
    align-items: end;
    justify-content: center;
    background:  #e5eef7;
    height: 100vh;
    /* position: relative; */
}

.verification_wrapper{
    /* position: absolute; */
    display: flex;
    /* bottom: 0; */
    background: white;
    /* margin-top: 5%; */
    height: 700px;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    gap: 30px;
    border-radius: 50% 50% 0 0;
}

.verification_codes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.verification_codes input{
    height: 50px;
    width: 50px;
    border: none;
    /* border-radius:0 0  ; */
    border-bottom: 5px solid black;
    font-size: 2rem;
    text-align: center;
}

.verify_Code_Btn{
    height: 50px;
    width: 100px;
    border-radius: 50px;
    background: #e5eef7;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 100px;
}









@media (max-width: 1440px){
    .wrapper_forgot_password{
    gap: 5rem;
    height: 80%;
    /* width:  80%; */
    /* margin-inline: 10rem; */
}

.circle_img{
    height: 450px;
    width: 450px;
    border-radius: 50%;
    background: rgba(135, 207, 235, 0.212);
}

.forgot_password_header h2{
    /* font-size: 4.5em; */
    /* margin-bottom: 50px; */
}
 
.forgot_form label{
    outline: none;
    padding: .5rem;
}
}

@media (max-width: 1024px){
    .forgot_password_container{
    padding: 4rem;
}

.forgot_password_header{
    line-height: 60px;
}

.forgot_password_header h2{
    font-size: 3.5em;
    /* margin-bottom: 90px; */
}

.forgot_password_header p{
    font-size: 16px;
    font-weight: 500;
}
}