@import url("/CSS/global.css");
@import url("/CSS/landing-page.css");
@import url("/CSS/document-application.css");
@import url("/CSS/components/components.css");
@import url("/CSS/Super_Admin/SA_dashboard.css");
@import url("/CSS/Super_Admin/SA_admin-account.css");
@import url("/CSS/Super_Admin/SA_all-request.css");
@import url("/CSS/Super_Admin/SA_roles&permission.css");
