/* .document-records-container{
    display: grid;
    grid-template-columns: 20rem auto;
    width: 96%;
    margin: 0 auto;
    gap: 1.1rem;
    padding-top: 1.5rem;
} */

aside{
    /* position: absolute;  */
    height: 100vh;
}

.logo img{
    /* margin-bottom: 50px; */
    width: 200px;
}

aside {
    /* padding: 0 2rem 0 0; */
    box-shadow: var(--box-shadow);
    background-color: #fff;
    width: 250px;
    /* padding-inline: 1rem; */
    border-radius: 20px;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    margin-block: 30px;
    /* margin-inline: auto; */
    position: sticky;
    cursor: pointer;
    top: 1rem;
    gap: 2rem;
    z-index: 1000;
}



aside:hover{
    box-shadow: none;
}


aside .sidebar ul{
    align-items: start;
    /* font-size: 25px; */
}

aside .sidebar li{
    list-style: none;
}

aside .sidebar li{
    padding-block: 0.5rem;
}

aside .sidebar li a{
    text-decoration: none;
    color: var(--color-info-dark);
    font-family: var(--font-family-IBM);
    font-size: 1.2rem;
}



aside .sidebar li  svg{
    fill: var(--color-info-dark);
    width: 1.5rem;
}

aside .sidebar li{
    /* margin-block: 1rem; */
    display: flex;
    align-items: center;
    height: 2.7rem;
    margin-left: 2rem;
    gap: 1rem;
    position: relative;
    width: 100%;
}


.sidebar li:hover{
    transform:  translateX(5px);
    transition: all 0.3s ease;
    color: #7d8da1;
}



.sidebar li  svg{
    color: var(--color-info-dark);

}


aside .sidebar li .last-child{
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: -200px;
    align-items: center;
}

/* aside .sidebar li {
    margin-left: 2rem;
    display: flex;
    align-items: center;
} */

aside .sidebar li.active{
    margin-left:  0;
}
aside .sidebar li.active::before{
    content: '';
    width: 6px;
    height: 18px;
    background-color: skyblue;
}

.last-child {
  display: flex;
  gap: 10px;
  align-items: center;
  position: absolute;
  bottom: -200px;
}


@media (max-width: 1440px){
     aside{
        width: 15rem;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        transition: all 1s ease-in-out;
        animation: showMenu 0.4s ease forwards;
        margin-block: 0;
        gap:30px;  
        /* background: red; */
    }


    .logo img{
        margin-top: 15px;
        margin-bottom: 30px;
        width: 120px;
    }

    aside .sidebar li a{
        font-size: 15px;
    }

    aside .sidebar li{
        padding-block: 2rem;
        margin-left: .6rem;
    }

    aside .sidebar li  svg{
    fill: var(--color-info-dark);
    width: 1.3rem;
    height: 2.7rem;
    /* margin-left: 1rem; */
    }

    aside .sidebar li .last-child{
    gap: 10px;
    bottom: -210px;
    align-items: center;
    }

    
    #logoutBtn{
    border: none;
    background: none; 
    color: var(--color-info-dark);
    font-family: var(--font-family-IBM);
    font-size: 13px;   
    }
}

@media (max-width: 1024px){
    aside{
        width: 13rem;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        transition: all 1s ease-in-out;
        animation: showMenu 0.4s ease forwards;
        margin-block: 25px;
        gap: 1rem;  
        /* background: red; */
    }


    .logo img{
        margin-bottom: 30px;
        width: 120px;
    }

    aside .sidebar li a{
        font-size: 15px;
    }

    aside .sidebar li{
        padding-block: 2rem;
        margin-left: .6rem;
    }

    aside .sidebar li  svg{
    fill: var(--color-info-dark);
    width: 1.3rem;
    height: 2.7rem;
    /* margin-left: 1rem; */
    }

    aside .sidebar li .last-child{
    gap: 10px;
    bottom: -210px;
    align-items: center;
    }

    
    #logoutBtn{
    border: none;
    background: none; 
    color: var(--color-info-dark);
    font-family: var(--font-family-IBM);
    font-size: 12px;   
    }
}